form {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}

.mdl-textfield {
    width: 100%;
}

#prompt-card.mdl-card, #revision-card.mdl-card {
    overflow: visible;
    z-index: auto;
}

#criteria-container-card .mdl-card {
    margin-bottom: 16px;
}

#criteria-container-card .mdl-card {
    width: 100%;
    min-height: auto;
}

.criterion-delete-button-container {
    height: 0px;
}

.criterion-delete-button-container > button.mdl-chip__action {
    float: right;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
}
