.peer-review-card {
    width: 100%;
}

.peer-review-submissions-container {
    margin: 0 auto;
}

.peer-review-submission-card {
    display: inline-block;
    width: auto;
    min-height: 0;
}

.icon-container {
    padding: 6px 16px;
}

.title-line-container {
    width: 100%;
}

.side-by-side-container {
    display: inline-block;
}

/* TODO write a media query to unfloat at the phone-width break */
.right-side-container {
    float: right;
}

.mdl-card__title .icon-caption {
    height: 24px;
    line-height: 24px;
    padding-top: 2px;
}

h2.mdl-card__title-text {
    padding: 6px;
}
