/* TODO enough styles are shared that this should be renamed */

.title {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    top: 70px;
    left: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 75px;
    left: 5%;
    box-shadow: 0 2px 2px #C6C6C6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    overflow: auto;
    box-shadow: 0px 2px 2px #C6C6C6;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.sortable {
    position: relative;
    top: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-collapse: collapse;
    width: 90%;
    cursor: pointer;
}

.sortable thead tr th { 
    font-size: 17px;
    font-weight: 400;
    padding: 12px 1%;
    color: #5E5E5E;
    text-align: center;
}

.sortable thead tr th:first-child {
    text-align: left;
}

.sortable tbody tr { 
    color: #7D7D7D;
    border-top: 1px solid #ACACAC;
    font-weight: 300;
}

.sortable tbody tr:first-child {
    border-top: 2.5px solid #ACACAC;
}

.sortable tbody tr td {
    font-size: 15px;
    padding: 12px 1%;
    text-align: center;
}

.sortable tbody tr td:first-child {
    text-align: left;
}

.sortable tbody tr td.lalign {
    text-align: left;
}

.entry_with_zero {
    background-color: #F9EAEC;
}

.zero_completed_or_received {
    color: #E16877;
    font-weight: 600;
}

.dropbtn {
    background-color: #FAFAFA;
    padding-right: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    text-align: left;
    outline: none;
    display: flex;
}

.dropdown-title {
    position: relative;
    top: 7px;
}

.dropdown-icon {
    position: relative;
    top: 7px;
    left: 45px;
}

.student_entry:hover {
    cursor: pointer;
}