.icon-24px {
    width: 24px;
    height: 24px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-caption {
    margin-left: 10px;
}

.mdl-layout__header-row {
    padding-left: 20px;  
}

.nav_link_click {
    opacity: 1;
    border-bottom: 5px solid #03A9F3;
}

.dashboard_links {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #F8F8F8;
    padding-left: 20px;
}

.link_for_nav {
    height: 21px;
    text-decoration: none;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    color: #56C1F2;
}

.text_on_nav, .slash_between {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #B2B2B2;
    height: 23px;
}

.text_on_nav {
    text-decoration: none;
}

.slash_between {
    margin-right: 5px;
}

.review-status-ok {
    background-color: #1EAAF0;
}

.review-status-incomplete {
    background-color: #DD5465;
}

.tabs-container {
    width: 100%;
    display: inline-block;
}

.review_title {
    color: white;
    font-size: 18px;
}

.review_link {
    display: block;
    color: #777777;
}
