.peer-review-assignment_card {
    width: 280px;
    height: 320px;
}

.ok-icon-color {
    color: #02d60c;
}

.warning-icon-color {
    color: #d17302;
}

.error-icon-color {
    color: #c40000;
}

.validation-container {
}

.mdl-layout__header-row {
    padding-left: 20px;  
}

.mdl-grid {
	position: relative;
}

.sortable {
	position: relative;
	top: 100px;
}
