body {
    border: 1px solid black;
}

a.btn, button.btn {
    text-transform: none;
}

.read-only-warning {
    margin-bottom: 1.5rem;
}

form[data-rubric-form] *:disabled, form[data-rubric-form] .select-wrapper input.select-dropdown:disabled {
    color: black;
}

span.caret.disabled {
    display: none;
}

.remove-button {
    margin-left: 10px;
    margin-top: 5px;
}

.flex-container {
    display: flex;
}

