form[data-comment-form] > h5 {
    font-weight: lighter;
}

form[data-comment-form] > p.rubric-description {
    margin-bottom: 2.5em;
}

form[data-comment-form] > .card {
    margin-left: 1em;
    margin-right: 1em;
}

form[data-comment-form] p {
    text-align: justify;
}
