form {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}

textarea {
    resize: none;
}

.mdl-textfield {
    width: 100%;
}

.mdl-card, .mdl-card .mdl-card__supporting-text {
    overflow: visible;
    z-index: auto;
}

.criterion-card {
    margin-bottom: 16px;
    width: 100%;
    min-height: 0;
}

.criterion-delete-button-container {
    height: 0;
}

.criterion-delete-button-container > button.mdl-chip__action {
    float: right;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
}

#prompt-menu, #revision-menu {
    border-bottom: 1px solid darkgray;
    border-radius: 4px;
    margin-top: 20px;
    text-transform: none;
    display: block;
    min-width: 60%;
    text-align: left;
}

.validations-container {
    padding-top: 0;
    padding-bottom: 0;
}

.validations-container span {
    font-size: 14px;
}

.validations-container > ul {
    margin-top: 0;
    margin-bottom: 0;
}

.assignment-info {
    margin-top: 25px;
}

/* TODO still needed? */
.read-only-rubric-card {
    min-height: 0;
}

/* TODO still needed? */
.read-only-rubric-card h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

#rubric-form textarea[disabled], #rubric-form button[disabled][type=button] {
    color: inherit;
}

.vdp-datepicker input[type="text"] {
    font-size: 14px;
    padding: 1%;
    max-width: 120px;
}

.datetime-container > div, .datetime-container .vdp-datepicker, .datetime-container .vdp-datepicker div {
    display: inline;
}

.datetime-container .mdl-textfield {
    width: 80px;
    margin-left: 3px;
    margin-right: 3px;
}
