.side-by-side-container {
    display: inline-block;
}

.right-side-container {
    float: right;
}

.date-icon-container {
    margin-top: 10px;
}

.submission-card-title {
    margin-bottom: 10px;
}

.card .card {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 25%; /* TODO this is a quick fix. need something better */
}

a.btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.complete-review-container {
    height: 36px;
    line-height: 36px;
}

.complete-icon {
    vertical-align: text-bottom;
    margin-right: 3px;
}

.submission-title {
    font-size: 1.2em;
}

.author-review-container {
    background-color: gainsboro;
    border: 1px solid gray;
    padding: 12px 18px;
    display: inherit;
    color: black;
}

.author-review-assignment-title {
    font-size: 1.15em;
}

i.reviews-chevron {
    vertical-align: bottom;
    margin-right: -8px;
}

