{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/assignment_status.css' %}" />
    <script src="{% static 'js/lib/jquery.tablesorter.min.js' %}" ></script>
    <script src="{% static 'js/assignment_status.js' %}" ></script>
    <script src="{% static 'js/common.js' %}" ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="dashboard_links">
        <a href="/dashboard/instructor" class="go_instructor_dashboard">Peer Review</a>
        <p class="slash_between">/</p>
        <p class="certain_card">Peer Review #1</p>
    </div>

    <p class="title">Peer Review #1</p>

    <div class="dropdown">
        <button class="dropbtn">
            <p class="dropdown-title">Filter reviews by section</p>
            <i class="material-icons dropdown-icon">arrow_drop_down</i>
        </button>
        <div class="dropdown-content">
            <a class="dropdown-link" href="#">All Sections</a>
            {% for section in sections %}
                <a class="dropdown-link" href="#">{{section}}</a>
            {% endfor %}
        </div>
    </div>

    <table class="sortable">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Section</th>
                <th>Reviews Completed</th>
                <th>Reviews Received</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr class="student_entry">
                    <td class="student_name">{{review.author.full_name}}</td>
                    <td class="student_section">{{review.author.section}}</td>
                    <td class="student_completed">{{review.completed}} of {{review.total_completed}}</td>
                    <td class="student_received">{{review.received}} of {{review.total_received}}</td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>

    <style type="text/css">
        .sortable thead tr th.headerSortUp {
            background: url("{% static 'images/icons/arrow_down.svg' %}") no-repeat right white;
        }

        .sortable thead tr th.headerSortDown {
            background: url("{% static 'images/icons/arrow_up.svg' %}") no-repeat right white;
        }
    </style>
{% endblock %}