{% extends 'base_mdl.html' %}

{% block content %}
    <div class="mdl-grid nav-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="review-link-container">
                <a class="review-link-anchor is_students" href="/course/{{ course_id }}/review/students">Students</a>
                <span class="review-link-text">/</span>
                <a class="review-link-anchor student_link" href="/course/{{ course_id }}/review/student/{{student_id}}" data-student-id={{student_id}}>{{student_name}}</a>
                {% if rubric_id and prompt_title %}
                    <span class="review-link-text">/</span>
                    <span class="review-link-text" data-rubric-id={{rubric_id}}>{{prompt_title}}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col">
            <p class="student-name">{{student_name}}</p>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <a class="mdl-button mdl-js-button mdl-button-colored mdl-button--raised"
               href="/course/{{ course_id }}/review/student/{{ student_id }}{% block download_suffix %}{% endblock %}/download">
                <i class="material-icons">file_download</i>
                <span>Download All Data</span>
            </a>
        </div>
    </div>

    <div class="mdl-grid nav-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="reviews">
                <div class="each_review"><a class="each_review_link" href="/course/{{ course_id }}/review/student/{{student_id}}">Overview</a></div>
                {% for review in reviews %}
                    <div class="each_review">
                        <a class="each_review_link" href="/course/{{ course_id }}/review/student/{{student_id}}/rubric/{{review.rubric_id}}">{{review.title}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block subcontent %}{% endblock %}

{% endblock %}
