<div class="card">
    <div class="card-content">
        <div class="row" data-criterion-container="">
            <span></span>
            <div class="input-field col s12">
                <label>Criterion Description</label>
                <textarea class="materialize-textarea"
                          data-criterion-description=""
                          {% if read_only %}disabled=""{% endif %}>{{ description }}</textarea>
            </div>
            {% if counter > 0 and not read_only %}
                <div>
                    <a class="remove-button btn-floating waves-effect waves-light grey lighten-1"
                       onClick="removeRubricCriteria(this);">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
