{% extends 'base_instructor.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/instructor_dashboard.css' %}" />
    <script src="{% static 'js/validation.js' %}" defer></script>
    <script src="{% static 'js/instructor_dashboard.js' %}" defer></script>
    <script src="{% static 'js/common.js' %}" ></script>
{% endblock %}

{% block content %}
    <div class="dashboard_links">
        <a href="/course/{{ course_id }}/dashboard/instructor" class="link_for_nav is_peer_review">Peer Review</a>
    </div>
    <div class="mdl-grid" data-validations-info="{{ validation_info }}">
        {% for review in reviews %}
            {% include 'peer_review_assignment_card.html' with review=review %}
        {% endfor %}
    </div>
{% endblock %}
