{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/instructor_dashboard.css' %}" />
    <script src="{% static 'js/validation.js' %}" defer></script>
    <script src="{% static 'js/instructor_dashboard.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="mdl-grid" data-validations-info="{{ validation_info }}">
        {% for assignment in assignments %}
            {% include 'peer_review_assignment_card.html' with assignment=assignment %}
        {% endfor %}
    </div>
{% endblock %}
