{% extends 'base_student_reviews.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/student_reviews_header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overview_for_a_student.css' %}" />
    <script src="{% static 'js/common.js' %}" ></script>
    <script src="{% static 'js/student_reviews_header.js' %}" ></script>
{% endblock %}

{% block download_suffix %}{% endblock %}

{% block subcontent %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col overview_title">
            <span>{{student_first_name}}'s Peer Review Activity</span>
        </div>
    </div>

    <div class="mdl-grid">
        {# TODO needs mdl-cell divs here... #}
        {% for review in reviews %}
            {% include 'peer_review_card_for_student.html' with review=review %}
        {% endfor %}
    </div>
{% endblock %}
