<div class="peer-review-assignment-card mdl-card mdl-cell mdl-cell--3-col mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{ assignment.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="validation-container">
            <i class="material-icons icon-24px ok-icon-color">done</i>
            <span class="validation-caption">This rubric has no problems.</span>
        </div>
    </div>
    <div class="mdl-card__supporting-text">
        <span>Due {% if assignment.due_date_utc %}{{ assignment.due_date_utc }}{% else %}anytime{% endif %}</span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View Rubric
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View Reviews
        </a>
    </div>
</div>
