{% extends 'base_instructor.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/assignment_status.css' %}" />
    <script src="{% static 'js/lib/jquery.tablesorter.min.js' %}" ></script>
    <script src="{% static 'js/all_students.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="dashboard_links">
        <a href="/course/{{ course_id }}/review/students" class="link_for_nav is_peer_review">Students</a>
    </div>

    <p class="title">Students</p>

    <div class="dropdown">
        <button class="dropbtn">
            <p class="dropdown-title">Filter reviews by section</p>
            <i class="material-icons dropdown-icon">arrow_drop_down</i>
        </button>
        <div class="dropdown-content">
            <a class="dropdown-link" href="#" data-section-id="all">All Sections</a>
            {% for section in sections %}
                <a class="dropdown-link" href="#" data-section-id={{ section.id }}>{{ section.name }}</a>
            {% endfor %}
        </div>
    </div>

    <table id="assignment-status-table" class="sortable">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Section</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr class="student_entry" data-student-id={{ student.id }} data-sections="{{ student.json_sections }}">
                    <td class="student_name">{{ student.name }}</td>
                    <td class="student_section">
                        {% if student.sections.count > 1 %}
                            {% for section in student.sections %}
                                {{ section.name }}{% if forloop.counter < student.sections.count %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ student.sections.0.name }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
