{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/student_reviews_header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reviews_for_a_student.css' %}" />
    <script src="{% static 'js/common.js' %}" ></script>
    <script src="{% static 'js/student_reviews_header.js' %}" ></script>
{% endblock %}

{% block content %}
    <div class="dashboard_links">
        <a href="/course/{{ course_id }}/review/students" class="link_for_nav is_students">Students</a>
        <p class="slash_between">/</p>
        <a href="/course/{{ course_id }}/review/student/{{student_id}}" class="link_for_nav student_link" data-student-id={{student_id}}>{{student_name}}</a>
        <p class="slash_between">/</p>
        <p class="text_on_nav" data-rubric-id={{rubric_id}}>{{prompt_title}}</p>
    </div>

    {% include 'students_reviews_header.html' %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p class="completed_received_title">{{student_first_name}} completed {{completed_num}}/{{total_completed}} peer reviews</p>
            {% for review in completed %}
                <div class="mdl-card mdl-shadow--2dp">

                    <div class="mdl-card__title {% if not review.completed and due_date_passed %}review-status-incomplete{% else %}review-status-ok{% endif %}">
                        <h2 class="mdl-card__title-text">To {{review.student.full_name}}</h2>
                    </div>

                    <div class="mdl-card__supporting-text">
                        <div class="icon-container validation-container">
                        {% if review.completed %}
                            <i class="material-icons icon-24px">done</i>
                            <span class="icon-caption">Submitted On Time({{review.submit_time}})</span>
                        {% else %}
                            <i class="material-icons icon-24px">info_outline</i>
                            <span class="icon-caption">{{student_first_name}} did not submit a peer review for {{review.student_first_name}}</span>
                        {% endif %}
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                    {% if not review.completed %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="mailto:{{student_email}}">Email {{student_first_name}}</a> 
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="/course/{{ course_id }}/submissions/{{submission.id}}/download">See {{review.student_first_name}}'s submission</a>
                    {% else %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">See review</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <p class="completed_received_title">{{student_first_name}} received {{received_num}}/{{total_received}} peer reviews</p>
            {% for review in received %}
                <div class="mdl-card mdl-shadow--2dp">

                    <div class="mdl-card__title {% if not review.received and due_date_passed %}review-status-incomplete{% else %}review-status-ok{% endif %}">
                        <h2 class="mdl-card__title-text">From {{review.student.full_name}}</h2>
                    </div>

                    <div class="mdl-card__supporting-text">
                        <div class="icon-container validation-container">
                            {% if review.received %}
                                <i class="material-icons icon-24px">done</i>
                                <span class="icon-caption">Received On Time({{review.submit_time}})</span>
                            {% else %}
                                <i class="material-icons icon-24px">info_outline</i>
                                <span class="icon-caption">{{student_first_name}} did not receive a peer review from {{review.student_first_name}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        {% if not review.received %}
                            <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="mailto:{{student_email}}">Email {{review.student_first_name}}</a>
                            <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="/course/{{ course_id }}/submissions/{{submission.id}}/download">See {{student_first_name}}'s submission</a>
                        {% else %}
                            <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">See review</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
