{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/student_reviews_header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reviews_for_a_student.css' %}" />
    <script src="{% static 'js/common.js' %}" ></script>
    <script src="{% static 'js/student_reviews_header.js' %}" ></script>
{% endblock %}

{% block content %}
    <div class="dashboard_links">
        <a href="/review/students" class="link_for_nav is_students">Students</a>
        <p class="slash_between">/</p>
        <a href="/review/student/{{student_id}}" class="link_for_nav student_link">{{student_name}}</a>
        <p class="slash_between">/</p>
        <p class="text_on_nav">{{prompt_title}}</p>
    </div>

    {% include 'students_reviews_header.html' %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p class="completed_received_title">{{student_first_name}} completed {{completed_num}}/{{total_completed}} peer reviews</p>
            {% for review in completed %}
                <div class="mdl-card mdl-shadow--2dp">
                {% if review.completed %}
                    <div class="mdl-card__title review_done">
                        <h2 class="mdl-card__title-text">To {{review.student.full_name}}</h2>
                    </div>
                {% else %}
                    <div class="mdl-card__title review_in_progress">
                        <h2 class="mdl-card__title-text">To {{review.student.full_name}}</h2>
                    </div>
                {% endif %}
                    
                    <div class="mdl-card__supporting-text">
                        <div class="icon-container validation-container">
                        {% if review.completed %}
                            <i class="material-icons icon-24px">done</i>
                            <span class="icon-caption">Submited On Time(1/1/17 1.11pm)</span>
                        {% else %}
                            <i class="material-icons icon-24px">info_outline</i>
                            <span class="icon-caption">{{student_first_name}} did not submit a peer review for {{review.student_first_name}}</span>
                        {% endif %}
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                    {% if not review.completed %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="mailto:yuant@umich.edu">EMAIL {{student_first_name}}</a> 
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">SEE {{review.student_first_name}}'s SUBMISSION</a>
                    {% else %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">SEE REVIEW</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <p class="completed_received_title">{{student_first_name}} received {{received_num}}/{{total_received}} peer reviews</p>
            {% for review in received %}
                <div class="mdl-card mdl-shadow--2dp">
                {% if review.received %}
                    <div class="mdl-card__title review_done">
                        <h2 class="mdl-card__title-text">From {{review.student.full_name}}</h2>
                    </div>
                {% else %}
                    <div class="mdl-card__title review_in_progress">
                        <h2 class="mdl-card__title-text">From {{review.student.full_name}}</h2>
                    </div>
                {% endif %}

                    <div class="mdl-card__supporting-text">
                        <div class="icon-container validation-container">
                        {% if review.received %}
                            <i class="material-icons icon-24px">done</i>
                            <span class="icon-caption">Received On Time(1/1/17 1.11pm)</span>
                        {% else %}
                            <i class="material-icons icon-24px">info_outline</i>
                            <span class="icon-caption">{{student_first_name}} did not receive a peer review from {{review.student_first_name}}</span>
                        {% endif %}
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                    {% if not review.received %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="mailto:yuant@umich.edu">EMAIL {{review.student_first_name}}</a> 
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">SEE {{student_first_name}}'s SUBMISSION</a>
                    {% else %}
                        <a class='mdl-button mdl-js-button mdl-js-ripple-effect review_link' href="#">SEE REVIEW</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell-1-col-phone"></div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Comments For {{ prompt_title }} by {{ student.sortable_name }}</h1>
            </div>
            <div class="mdl-card__supporting-text">
                {% for criterion, comments in review %}
                    <div class="mdl-card mdl-shadow--2dp criterion-comments-card">
                        <div class="mdl-card__supporting-text">
                            <p>{{ criterion.description }}</p>
                            <div class="mdl-list">
                                {% for comment in comments %}
                                    <div class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <span>
                                                <b>{{ student.sortable_name }} said concerning
                                                    <a href="/submissions/{{ comment.peer_review.submission.id }}/download">
                                                        {{ comment.peer_review.submission.author.sortable_name }}'s submission
                                                    </a>
                                                </b> "{{ comment.comment }}"
                                            </span>
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell-1-col-phone"></div>
    </div> -->
{% endblock %}
