{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/mdl/rubric_creation_form.css' %}"/>
    <script defer src="{% static 'js/lib/autoresize/autosize.min.js' %}"></script>
    <script defer src="{% static 'js/mdl/rubric_creation_form.js' %}"></script>
{% endblock %}

{% block content %}
    <form onsubmit="return false;" action="/rubric/course/{{ course_id }}/assignment/{{ passback_assignment_id }}"
          data-assignments="{{ potential_prompts_and_rubrics }}">
        {% csrf_token %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
            <div id="prompt-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Writing Prompt</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <label for="prompt-menu">The rubric will be applied to the following assignment:</label>
                    <br/>
                    <button id="prompt-menu"
                            class="mdl-button mdl-js-button"
                            data-selected-assignment-id={{ existing_prompt.id }}>
                        <span>Select an assignment...</span>
                    </button>
                    <ul for="prompt-menu" class="mdl-menu mdl-js-menu"></ul>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
            <div id="revision-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Revision</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <label for="revision-menu">
                        If students will be completing a revision, please select the revision assignment here.
                    </label>
                    <br/>
                    <button id="revision-menu"
                            class="mdl-button mdl-js-button"
                            data-selected-assignment-id="{{ existing_revision.id }}">
                        <span>No revision</span>
                    </button>
                    <ul for="revision-menu" class="mdl-menu mdl-js-menu"></ul>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
            <div id="rubric-description-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Description</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea id="rubric-description-textfield" class="mdl-textfield__input" type="text" rows="1"></textarea>
                        <label for="rubric-description-textfield" class="mdl-textfield__label">
                            Enter a description for this rubric here.
                        </label>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
            <div id="criteria-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Criteria</h2>
                </div>
                <div class="criteria-container mdl-card__supporting-text">
                    {% include 'criterion_card.html' with removable=False %}
                </div>
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            data-criterion-card-template="{{ criterion_card_html }}">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                <button
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        type="submit">
                    Submit
                </button>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
        </div>
    </form>
{% endblock %}
