{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/rubric_creation_form.css' %}"/>

    <script defer src="https://unpkg.com/vue"></script>
    <script defer src="{% static 'js/lib/vue-mdl/vue-mdl.js' %}"></script>

    <script defer src="{% static 'js/components/autosize_textarea.js' %}"></script>

    <script defer src="{% static 'js/lib/autoresize/autosize.min.js' %}"></script>
    <script defer src="{% static 'js/util.js' %}"></script>
    <script defer src="{% static 'js/validation.js' %}"></script>

    <script defer src="{% static 'js/rubric_creation_form.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="vue-root">
        <form id="rubric-form"
              action="/rubric/course/{{ course_id }}/assignment/{{ passback_assignment_id }}"
              data-assignments="{{ potential_prompts_and_rubrics }}"
              data-validation-info="{{ validations }}"
              data-existing-rubric-description="{% if existing_rubric %}{{ existing_rubric.description }}{% else %}null{% endif %}"
              data-existing-prompt-id="{% if existing_prompt %}{{ existing_prompt }}{% else %}null{% endif %}"
              data-existing-revision-id="{% if existing_revision %}{{ existing_revision }}{% else %}null{% endif %}"
              data-review-is-in-progress={% if review_is_in_progress %}true{% else %}false{% endif %}>

            {% csrf_token %}

            {% verbatim %}


                <template v-if="reviewIsInProgress">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                        <mdl-card
                                class="read-only-rubric-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone"
                                supporting-text="Reviews are in progress, so this rubric is now read-only."></mdl-card>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                    </div>
                </template>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>

                    <!-- TODO pull this out into its own component -->
                    <!-- TODO double check markup vs the below -->
                    <mdl-card
                            id="prompt-card"
                            class="mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone"
                            title="Writing Prompt"
                            supporting-text="slot">
                        <div slot="supporting-text">
                            <div class="mdl-card__supporting-text">
                                <mdl-select
                                        id="prompt-select"
                                        label="The rubric will be applied to the following assignment:"
                                        v-model="selectedPromptId"
                                        :options="promptChoices">
                                </mdl-select>

                                <!-- TODO bind validation info -->
                                <p v-if="promptInfo" class="assignment-info">{{ promptInfo }}</p>
                            </div>

                            <!-- TODO this could be abstracted into its own component -->
                            <div v-if="promptIssues.length > 0" class="mdl-card__supporting-text validations-container">
                                <ul class="mdl-list">
                                    <li v-for="issue in promptIssues" class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i v-if="issue.fatal" class="material-icons mdl-list__item-icon">warning</i>
                                            <i v-else class="material-icons mdl-list__item-icon">error_outline</i>
                                            {{ issue.message }}
                                        </span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </mdl-card>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                </div>

                <template v-if="!(reviewIsInProgress && !existingRevisionId)">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>

                        <!-- TODO pull this out into its own component -->
                        <!-- TODO double check markup vs the above -->
                        <mdl-card
                                class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone"
                                title="Revision"
                                supporting-text="slot">
                            <div slot="supporting-text">
                                <div class="mdl-card__supporting-text">
                                    <mdl-select
                                        id="revision-select"
                                        label="If students will be completing a revision, please select the revision assignment here."
                                        v-model="selectedRevisionId"
                                        :options="revisionChoices">
                                    </mdl-select>

                                    <p v-if="revisionInfo" class="assignment-info">{{ revisionInfo }}</p>
                                </div>

                                <!-- TODO this could be abstracted into its own component -->
                                <div v-if="revisionIssues.length > 0" class="mdl-card__supporting-text validations-container">
                                    <ul class="mdl-list">
                                        <li v-for="issue in revisionIssues" class="mdl-list__item">
                                            <span class="mdl-list__item-primary-content">
                                                <i v-if="issue.fatal" class="material-icons mdl-list__item-icon">warning</i>
                                                <i v-else class="material-icons mdl-list__item-icon">error_outline</i>
                                                {{ issue.message }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </mdl-card>

                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                    </div>
                </template>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>

                    <mdl-card
                            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone"
                            title="Description"
                            supporting-text="slot">
                        <div slot="supporting-text" class="mdl-card__supporting-text">
                            <autosize-textarea v-model="rubricDescription" label="Enter a description for this rubric here."></autosize-textarea>
                        </div>
                    </mdl-card>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                </div>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>

                    <mdl-card
                            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone"
                            title="Criteria"
                            supporting-text="slot"
                            :actions="!reviewIsInProgress ? 'slot' : ''">
                        <div slot="supporting-text" class="criteria-container mdl-card__supporting-text">

                            <mdl-card v-for="(criterion, index) in criteria" :key="criterion.id" class="criterion-card mdl-shadow--2dp" supporting-text="slot">
                                <div slot="supporting-text">
                                    <div v-if="!reviewIsInProgress && index > 0" class="criterion-delete-button-container">
                                        <button type="button" class="mdl-chip__action" tabindex="-1" @click="removeCriterion(criterion.id)">
                                            <i class="material-icons">cancel</i>
                                        </button>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <autosize-textarea v-model="criterion.description" label="Enter a description for this criterion here."></autosize-textarea>
                                    </div>
                                </div>
                            </mdl-card>

                        </div>
                        <div slot="actions" class="mdl-card__actions">
                            <button type="button"
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                                    @click="addCriterion">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </mdl-card>

                    <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                </div>

                <template v-if="!reviewIsInProgress">

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                            <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                    type="submit"
                                    :disabled="!rubricIsValid">
                                Submit
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                            <mdl-snackbar display-on="rubricSubmitted"></mdl-snackbar>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                    </div>

                </template>


            {% endverbatim %}
        </form>

    </div>
{% endblock %}
