<!DOCTYPE html>
<html>
    <head>
        <title>M-Write Peer Review</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                (function($) {
                    var button = document.querySelector('#launch-button');
                    button.addEventListener('click', function() {
                        var canvasToolUrl = button.getAttribute('data-referer');
                        var courseId = button.getAttribute('data-course-id');
                        var popupUrl = '/course/' + courseId + '/safari';

                        var popup = window.open(popupUrl, 'toolbar=no,status=no,width=100,height=100');
                        popup.addEventListener('load', function() {
                            popup.close();
                            window.parent.location.href = canvasToolUrl;
                        });
                    })
                })(jQuery);
            });
        </script>
    </head>
    <body>
        <div id="main-container" class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">M-Write Peer Review</span>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>

            <main class="mdl-layout__content">
                <div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                        <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
                            <p>Welcome to MWrite Peer Review!  Please click the button below to launch the tool.</p>
                            <button id="launch-button"
                                    data-course-id="{{ course_id }}"
                                    data-referer="{{ referer }}"
                                    type="button"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Launch M-Write Peer Review
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell-1-col-phone"></div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
