{% extends 'base_mdl.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/mdl/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdl/student_dashboard.css' %}" />
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell-1-col-phone"></div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell-2-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Reviews To Complete</h1>
            </div>
            <div class="mdl-card__supporting-text">
                {% for title, details in reviews.items %}
                    <div class="mdl-card mdl-shadow--2dp peer-review-card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ title }}</h2>
                            <div class="icon-container">
                                <i class="material-icons icon-24px">query_builder</i>
                                <span class="icon-caption">
                                    Due {% if details.due_date %}{{ details.due_date | date:'F j g:i A' }}{% else %}anytime{% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text peer-review-submissions-container">
                            {% for submission in details.submissions %}
                                <div class="mdl-card mdl-shadow--2dp peer-review-submission-card">
                                    <div class="mdl-card__title">
                                        <h3 class="mdl-card__title-text">Submission {{ forloop.counter }}</h3>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border">
                                        {% if submission.peer_review_complete %}
                                            <div class="icon-container">
                                                <i class="material-icons icon-24px">done</i>
                                                <span class="icon-caption">Complete</span>
                                            </div>
                                        {% else %}
                                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                               href="/review/submission/{{ submission.id }}">
                                                Start Review
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell-1-col-phone"></div>
    </div>
{% endblock %}
