<div class="name_and_download">
    <p class="student_name">{{student_name}}</p>
    <button class="download">
        <i class="material-icons download_icon" style="font-size: 15px;">file_download</i>
        <p class="download_title" style="font-size: 13px;">Download All Data</p>
    </button>
</div>

<div class="reviews">
    <div class="each_review"><a class="each_review_link" href="/review/student/{{student_id}}">Overview</a></div>
    {% for review in reviews %}
        <div class="each_review">
            <a class="each_review_link" href="/course/{{ course_id }}/review/student/{{student_id}}/rubric/{{review.rubric_id}}">{{review.title}}</a>
        </div>
    {% endfor %}
</div>